@import '~bootstrap/scss/bootstrap';
$primary-color: #00bf1f;
$secondary-color: #eaeaea;

* {
  font-family: 'Poiret One';
  margin: 0;
  padding: 0;
}

nav {
  background-color: $primary-color;
  font-size: 1.5rem;
  height: 6rem;
  margin: 1px 0;
}

.navbar-brand {
  background-color: $secondary-color;
  color: $primary-color;
  font-family: 'Poiret One';
  font-size: 2rem;
  font-weight: bold;
  padding: 17px 6px;
}

.checkout-message {
  font-size: 3rem;
}

body {
  background: $secondary-color;
  color: $primary-color;
  font-family: 'Nunito', sans-serif;
}

header {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.stock-image {
  display: block;
  margin: auto;
  opacity: .5;
  width: 70%;
}

h1 {
  font-size: 5rem;
  margin: 20px 0 0;
}

h2 {
  font-size: 7rem;
}

h4 {
  color: black;
}

button {
  background-color: $primary-color;
  border: 0;
  color: $secondary-color;
  font-size: 25px;
  line-height: 25px;
  margin: 10px;
  padding: 15px;
}

.menu-item {
  background-color: $secondary-color;
  color: black;
  font-weight: bold;
}

.add-meal {
  background-color: $primary-color;
  color: $secondary-color;
}

input {
  border: 1px solid;
}

.credentials-menu {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
}

.final-order-listItem {
  font-family: arial;
}

.total-price-on-modal {
  color: #000;
  font-family: arial;
  text-decoration-line: underline;
  text-indent: 2em;
}

#getMealsButton {
  background-color: $primary-color;
  color: $secondary-color;
  margin: 30px;
}

#current-order {
  background-color: rgba(11, 241, 15, .3); // primary color with less opacity
  color: black;
}
